openapi: 3.1.0
info:
  title: AmeriCorps Open Data Catalog Metadata API
  version: 1.0.0
  description: 'AmeriCorps publishes research, evaluation, and program data through its open

    data portal at https://data.americorps.gov, which is built on the Socrata

    Open Data (SODA) platform. Datasets are accessible programmatically through

    the standard Socrata views and resource endpoints.


    Each dataset is identified by a four-by-four (`xxxx-xxxx`) identifier and can

    be queried via the `/resource/{dataset_id}.{format}` endpoint using SoQL

    (Socrata Query Language) parameters such as `$select`, `$where`, `$order`,

    `$limit`, and `$offset`.

    '
  contact:
    name: AmeriCorps Open Data
    url: https://data.americorps.gov
servers:
- url: https://data.americorps.gov
  description: AmeriCorps Open Data portal (Socrata)
security:
- {}
- SocrataAppToken: []
tags:
- name: Metadata
  description: Retrieve dataset metadata and schema information.
paths:
  /api/views/{dataset_id}.json:
    get:
      tags:
      - Metadata
      summary: Get dataset metadata
      description: 'Returns the metadata record for a single dataset, including its columns,

        description, tags, and update cadence.

        '
      operationId: getViewMetadata
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Dataset metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
        '404':
          description: Dataset not found.
components:
  schemas:
    View:
      type: object
      description: Socrata view/dataset metadata record.
      properties:
        id:
          type: string
          description: Socrata four-by-four dataset identifier.
        name:
          type: string
        description:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: integer
          description: Unix timestamp of creation.
        rowsUpdatedAt:
          type: integer
          description: Unix timestamp of last data update.
        viewCount:
          type: integer
        downloadCount:
          type: integer
        columns:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
  parameters:
    DatasetId:
      name: dataset_id
      in: path
      required: true
      description: Socrata four-by-four dataset identifier (e.g. `bkv2-68b9`).
      schema:
        type: string
        pattern: ^[a-z0-9]{4}-[a-z0-9]{4}$
  securitySchemes:
    SocrataAppToken:
      type: apiKey
      in: header
      name: X-App-Token
      description: 'Optional Socrata application token. Anonymous access is allowed, but

        requests without a token are subject to lower throttling limits.

        '
